@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --pink: #ef558c;
    --softpink: #eb7da4;
    --palepink: #fff5f7;
    --grey: #2e2e2e;
    --cream: #f4f1e8;
    --space-xs: 12px;
    --space-sm: 24px;
    --space-md: 40px;
    --space-lg: 60px;
    --space-xl: 80px;
}

body {
    background-color: var(--cream);
    margin: 0;
    padding: 0;
}

.banner {
    margin: 12px auto;
    width: 100%;
    background: var(--cream);
    overflow: hidden;
    display: flex;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;}
.group {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
    padding-right: 1.5rem;
    flex-shrink: 0;
    animation: spin 40s linear infinite;
    color: var(--pink);
    font-style: italic;
    font-family: 'EB Garamond', serif;}
.card {
    white-space: nowrap; 
    font-size: clamp(16px);
    letter-spacing: 2px;
    padding: 0;}
.banner:hover .group {
    animation-play-state: paused;}
@keyframes spin {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);}}

.eb {
    font-family:EB Garamond, serif;
    font-size: 60px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: var(--grey);}
.me {
    color: var(--pink);
    letter-spacing: -6px;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    width: 5ch;
    border-right: 2px solid var(--pink);
    vertical-align: bottom;
    animation:
    typing 1s steps(6) forwards, blink 0.5s step-end infinite alternate;}
@keyframes typing { from { width: 0; } }
@keyframes blink { 50% { border-color: transparent;} }


